<template>
    <div @click="addDelay();">
        <form-wizard id="ebeauty" :start-index="0">
            <tab-content>
                <div class="screen-1">
                    <div class="legal">
                        <div class="checkbox" style="padding-top: 10px">
                            <input type="checkbox" v-model="start" name="start" id="start"/>
                            <label for="start">My Label</label>
                        </div>
                        <div class="legal-text">
                            <span @click="showModalPorpose = true">Запознат съм с Условията за обработване на лични данни от Организатора, за целите на Приложението.</span>
                        </div>
                    </div>
                </div>
            </tab-content>
            <tab-content>
                <first-questions :user-info="userinfo" @update="update"></first-questions>
            </tab-content>
            <tab-content>
                <second-questions :user-info="userinfo" @update="update"></second-questions>
            </tab-content>
            <tab-content>
                <products :recomended="recomended" :manifest="manifest"></products>
            </tab-content>
            <tab-content>
                <user-details :user-info="userinfo" @update="update"></user-details>
            </tab-content>
            <tab-content></tab-content>
            <template slot="footer" slot-scope="props">
                <div class=wizard-footer-left>
                    <wizard-button v-if="props.activeTabIndex > 0 && !props.isLastStep" @click.native="props.prevTab()">
                        Назад
                    </wizard-button>
                </div>
                <div class="wizard-footer-right">
                    <wizard-button v-if="props.activeTabIndex==0" @click.native="startApp(props)"
                                   class="start-button animated infinite tada">
                        Към теста
                    </wizard-button>

                    <wizard-button v-if="props.activeTabIndex == 1 && !props.isLastStep" @click.native="props.nextTab()"
                                   class="wizard-footer-right "
                                   :style="props.fillButtonStyle" :disabled="!(userinfo.age && userinfo.skin_type )">
                        Напред
                    </wizard-button>
                    <p class="info-msg" v-if="!(userinfo.age && userinfo.skin_type ) && props.activeTabIndex == 1">
                        Отговорете на въпросите със *, за да продължите.</p>
                    <wizard-button v-if="props.activeTabIndex == 2 && !props.isLastStep" @click.native="props.nextTab()"
                                   class="wizard-footer-right "
                                   :style="props.fillButtonStyle"
                                   :disabled="!(userinfo.cleanup.length && userinfo.makeup && userinfo.akne ) ">Напред
                    </wizard-button>
                    <p class="info-msg"
                       v-if="!(userinfo.cleanup.length && userinfo.makeup && userinfo.akne ) && props.activeTabIndex == 2">
                        Отговорете на въпросите със *, за да продължите.</p>
                    <wizard-button v-if="props.activeTabIndex == 3 && !props.isLastStep" @click.native="props.nextTab()"
                                   class="wizard-footer-right "
                                   :style="props.fillButtonStyle">Напред
                    </wizard-button>

                    <wizard-button v-if="props.activeTabIndex == 4 && !props.isLastStep"
                                   @click.native="props.nextTab();sendInformation(true)"
                                   class="wizard-footer-right send-button animated infinite pulse"
                                   :style="props.fillButtonStyle"
                                   :disabled="!(userinfo.name && validEmail && userinfo.purpose )"></wizard-button>

                    <wizard-button v-if="props.activeTabIndex == 4 && !props.isLastStep"
                                   @click.native="props.nextTab();sendInformation(false)"
                                   class="wizard-footer-right" :style="props.fillButtonStyle">Напред
                    </wizard-button>

                    <p class="info-msg"
                       v-if="!( userinfo.name && validEmail && userinfo.purpose ) && props.activeTabIndex == 4">
                        Попълнете име, валиден имейл и полето със *, за да продължите.</p>

                    <wizard-button v-if="props.activeTabIndex > 0 && props.isLastStep" @click.native="onComplete"
                                   class="wizard-footer-right finish-button">край
                    </wizard-button>
                </div>
            </template>

        </form-wizard>
        <modal v-if="showloading" class="loading-modal">
            <h3 slot="header"></h3>
            <div slot="body">
            </div>
        </modal>
        <modal v-if="errorModal" @close="errorModal = false" class="trustModal">
            <h3 slot="header">Моля да отбележите съгласието си с условията за обработване на лични данни.</h3>
            <div slot="body">
            </div>
        </modal>
        <modal v-if="showModalPorpose" @close="showModalPorpose = false" class="trustModal">
            <h3 slot="header">УСЛОВИЯ ЗА ОБРАБОТВАНЕ НА ЛИЧНИ ДАННИ ЗА ЦЕЛИТЕ НА НАСТОЯЩОТО ПРИЛОЖЕНИЕ</h3>
            <div slot="body">
              <ol>
<li>Приложението, което разглеждате, представлява електронен консултант, който въз основа на предоставена от Вас информация чрез отговори на въпроси (тест), определя и Ви предоставя данни за най-подходящите за Вашата кожа продукти с търговската марка НИВЕА/NIVEA към съответния момент (наричано за краткост по-долу &bdquo;<strong>Приложение</strong>&ldquo;).</li>
<li>Приложението е разработено от "Байерсдорф България" ЕООД, ЕИК 130560358, София 1606, ул. Алабин № 1, ет.11 (наричано по-долу "<strong>Организатор</strong>"), притежаващо търговската марка НИВЕА/NIVEA.</li>
<li>С Организатора може да се свържете на горепосочения адрес, както и на телефон +359 (2) 923 16 00 и електронен адрес <a href="mailto:nivea.sofia@beiersdorf.com">nivea.sofia@beiersdorf.com</a> .</li>
<li><strong>Запознаването с настоящите Условия и удостоверяването му са задължителни условия за използване на Приложението</strong>. Запознаването с настоящите Условия за обработване на лични данни (&bdquo;<strong>Условия</strong>&ldquo;) може да удостоверите, като отбележите знак в празната кутийка, разположена непосредствено до текста &bdquo;Запознат съм с условията за обработване на лични данни от Организатора за целите на Приложението&ldquo;.</li>
<li>Предоставянето на личните Ви данни (имена и електронен адрес) не е необходимо условие, за да видите резултатите от теста на екрана на устройството, където сте го попълнили.</li>
<li>Всяка обработка на лични данни във връзка с настоящото Приложение, се основава на предоставено от Вас лично, предварително и изрично съгласие за обработване на Вашите имена и електронен адрес по начина и за целите, конкретно посочени по-долу в настоящите Условия.</li>
<li>Информацията, получена при използването на Приложението, под формата на статистически резултат за тип кожа и препоръчани продукти, се получава и може да се съхранява и използва от Организатора с цел статистическо и маркетингово проучване. Така получената информация се съхранява само като статистически резултат, без той да е обвързан с лични данни на конкретно физическо лице, т.е. по начин, който не позволява идентификация на конкретно физическо лице с предоставените от него лични данни.</li>
<li>В случай че не отбележите знак за в празната кутийка до текста &bdquo;Съгласен съм личните ми данни да бъдат обработвани от Организатора с цел получаване на резултатите от Приложението&ldquo;, след като видите резултатите, може да излезете от Приложението и в този случай Организаторът не разполага и, следователно, няма да обработва Ваши лични данни.</li>
<li>В случай че Вие решите, резултатът, предоставен от електронния консултант, може да Ви бъде изпратен на посочен от Вас електронен адрес.</li>
<li>Вашето лично и изрично предварително съгласие за обработване на Вашите лични данни (имена и електронен адрес) с цел изпращане на резултата от теста може да предоставите, като отбележите знак в празната кутийка, разположена непосредствено до текста &bdquo;Съгласен съм личните ми данни да бъдат обработвани от Организатора с цел получаване на резултатите от Приложението&ldquo;. В този случай електронният адрес и Вашите имена няма да се съхраняват от Организатора, а ще бъдат използвани само с цел предоставяне на резултатите от теста на посочен от Вас електронен адрес, след което личните данни няма повече да бъдат обработвани от Организатора, освен ако Вие изрично не се съгласите с това (така, както е посочено в точка 11 по-долу).</li>
<li>В случай че предоставите изрично съгласие, предоставените от Вас лични данни (имена и електронен адрес) могат да бъдат използвани от Организатора с цел изпращане на маркетингови съобщения за текущи и бъдещи негови кампании и маркетингови активности, за период до оттегляне на предоставеното от Вас съгласие. Това изрично съгласие Вие лично и изрично може да предоставите, като отбележите знак в празната кутийка до текста &bdquo;Искам да получавам новини от NIVEA&ldquo;. По този начин Вие предоставяте своето изрично съгласие Организаторът да Ви изпраща на посочения мейл маркетингови съобщения за неограничен период от време. Това съгласие може да оттеглите по всяко време, възможност за което се предоставя във всяко маркетингово съобщение, получено от Вас. След получаване на оттеглянето на Вашето съгласие за получаване на маркетингови съобщения, Организаторът се задължава незабавно да преустанови изпращането на маркетингови съобщения, както и да заличи личните Ви данни, освен ако закон не изисква съхраняването им за по-дълъг период. Оттеглянето на предоставеното съгласие за обработване на лични данни не засяга законосъобразността на обработването им въз основа на това съгласие за периода от предоставянето му до неговото оттегляне.</li>
<li>Предоставените лични данни, за които е дадено съгласие да бъдат обработвани от Организатора за маркетингови цели, няма да бъдат разкривани на трети лица, освен ако това не е необходимо с оглед използването и техническото поддържане на Приложението, както и извършването на самата маркетингова дейност на Организатора (за което сте се съгласили), в който случай достъп да данните могат да имат представители на рекламна агенция или по изключение, лицата, извършващи техническата поддръжка на базите данни на Организатора. Изнасяне на лични данни извън пределите на Европейското икономическо пространство няма да се извършва и данните се обработват само на територията на Европейското икономическо пространство при спазване на приложимото в Европейския съюз законодателство. Всички лица, които могат да имат достъп до данните, спазват изискванията на приложимото законодателство за защита на личните данни, а техните служители са подписали декларации за поверителност на данните.</li>
<li>Информацията, съответно личните данни, които се събират, се получават и се съхраняват на защитен сървър на Организатора, а не физическото устройство (например таблет). По този начин достъп до данните от неоторизирани лица е невъзможен, като в същото време се осигурява максималната сигурност на данните при евентуална кражба или повреда на физическото устройство.</li>
<li>Имате право да искате от Организатора, в качеството му на обработващ личните Ви данни, да Ви осигури достъп да Вашите лични данни, да искате тяхното коригиране, ако са неточни, или пък да искате тяхното изтриване, както и ограничаването на обработването на личните данни. В случай че данните Ви бъдат изтрити (заличени), Организаторът ще преустанови обработката им, съответно, изпращането на маркетингови съобщения, а в случай че ограничаването на обработването е съществено, това също ще доведе до преустановяване изпращането на маркетингови съобщения.</li>
<li>В случай че считате, че правата Ви във връзка с обработваните на лични данни са накърнени, имате право да отправите жалба до българския контролен орган по защита на личните данни, а именно, Комисията за защита на личните данни, на адрес: гр. София 1592, бул. &bdquo;Проф. Цветан Лазаров&rdquo; №&nbsp;2, Център за информация и контакти - тел. 02/91-53-518.</li>
<li>Допълнителна информация относно политиката на Организатора във връзка с обработване на лични данни (Политика за поверителност) може да бъде намерена на следния електронен адрес: <a href="https://www.nivea.bg/za-nas/privacy-policy">https://www.nivea.bg/za-nas/privacy-policy</a>.</li>
</ol>
            </div>
        </modal>
    </div>
</template>

<script>
import products from "../products.json";

export default {
  props: ["manifest"],
  data() {
    return {
      userinfo: {
        age: null,
        skin_type: null,
        skin_tan: "0",
        pores_visibility: "0",
        wrinkles: "0",
        skin_tightness: "0",
        stains: "0",
        akne: null,
        black_spots: false,
        makeup: null,
        cleanup: [],
        subscribtion: false,
        name: null,
        email: null,
        purpose: false
      },
      showModalPorpose: false,
      errorModal: false,
      start: false,
      timeout: null,
      showloading: false,
      products_cleaning: products.cleaning,
      products_care: products.care,
      products_nightcare: products.nightcare
    };
  },
  computed: {
    recomended() {
      return [
        this.getRecomended(this.products_cleaning),
        this.getRecomendedNightCare(this.products_nightcare),
        this.getRecomendedNightCare(this.products_care)
      ];
    },
    validEmail() {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(this.userinfo.email);
    }
  },
  methods: {
    startApp(props) {
      if (this.start) {
        props.nextTab();
      } else {
        this.errorModal = true;
      }
    },
    addDelay() {
      clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        window.location.reload();
      }, 120000);
    },
    onComplete() {
      clearTimeout(this.timeout);
      this.showloading = true;
      window.location.reload();
    },
    update(data) {
      this.userinfo = data;
    },
    getRecomendedNightCare(products) {
      let recomended = [];
      let tempProducts = [];

      if (this.userinfo.age) {
        tempProducts = products.filter(e => {
          if (e.questions.age) {
            return e.questions.age.some(a => {
              return a == Number(this.userinfo.age);
            });
          } else {
            return false;
          }
        });
        if (tempProducts.length > 0) {
          products = tempProducts;
        }
      }

      products.forEach(element => {
        let weight = this.getWeight(element.questions);
        recomended.push({
          id: element.id,
          title: element.title,
          rank: element.rank,
          weight: weight < 0.9 ? this.getWeight(element.questions) : 1,
          subitem: element.subitem ? element.subitem : ""
        });
      });
      recomended.sort((a, b) => a.weight - b.weight);
      recomended.reverse();

      let bestoption = recomended[0].weight;
      let morerecomended = recomended.filter(e => {
        return e.weight == bestoption;
      });

      morerecomended.sort(() => Math.random() - 0.5);
      let elem = morerecomended.pop();

      return elem;
    },
    getRecomended(products) {
      let recomended = [];
      products.forEach(element => {
        let weight = this.getWeight(element.questions);
        recomended.push({
          id: element.id,
          title: element.title,
          rank: element.rank,
          weight: weight < 0.9 ? this.getWeight(element.questions) : 1,
          subitem: element.subitem ? element.subitem : ""
        });
      });
      recomended.sort((a, b) => a.weight - b.weight);
      recomended.reverse();

      let bestoption = recomended[0].weight;
      let morerecomended = recomended.filter(e => {
        return e.weight == bestoption;
      });

      morerecomended.sort((a, b) => a.rank - b.rank);

      let elem = morerecomended.pop();

      return elem;
    },
    getWeight(questions) {
      let weight = 0;
      let ent = Object.entries(questions);

      ent.forEach(([key, value]) => {
        if (value == "all") weight += 1 / ent.length;
        else if (
          value.some(el => {
            if (Array.isArray(this.userinfo[key])) {
              return this.userinfo[key].includes(el.toString());
            } else {
              return el == Number(this.userinfo[key]);
            }
          })
        )
          weight += 1 / ent.length;
      });
      return weight;
    },
    sendInformation(shouldSend) {
      let param = JSON.parse(JSON.stringify(this.userinfo));
      param.recomended = this.recomended;
      if (!shouldSend) {
        param.email = null;
        param.name = null;
        param.purpose = false;
        param.subscribtion = false;
      }
      axios
        .post(`/api/save`, param)
        .then(response => {
          this.clear(response);
        })
        .catch(err => {
          this.clear(err);
        });
    },
    clear(info) {
      clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        window.location.reload();
      }, 5000);
    }
  }
};
</script>