<template>
  <div class="screen-cnt">
    <div class="question">
      <div class="label">
        Възраст*
      </div>
      <div class="answers w6">
        <div class="checkbox">
          <p>18 - 25</p>
          <input type="radio" v-model="data.age" name="age" id="15" value="0" />
          <label for="15">My Label</label>
        </div>
        <div class="checkbox">
          <p>26 - 30</p>
          <input type="radio" v-model="data.age" name="age" id="25" value="1" />
          <label for="25">My Label</label>
        </div>
        <div class="checkbox">
          <p>31 - 35</p>
          <input type="radio" v-model="data.age" name="age" id="30" value="2" />
          <label for="30">My Label</label>
        </div>
        <div class="checkbox">
          <p>36 - 45</p>
          <input type="radio" v-model="data.age" name="age" id="35" value="3" />
          <label for="35">My Label</label>
        </div>
        <div class="checkbox">
          <p>46 - 55</p>
          <input type="radio" v-model="data.age" name="age" id="40" value="4" />
          <label for="40">My Label</label>
        </div>
        <div class="checkbox">
          <p>55+ </p>
          <input type="radio" v-model="data.age" name="age" id="50" value="5" />
          <label for="50">My Label</label>
        </div>
      </div>
    </div>
    <div class="question">
      <div class="label">
        Тип кожа*
      </div>
      <div class="answers w5">
        <div class="checkbox">
          <p>Чувствителна</p>
          <input type="radio" v-model="data.skin_type" name="skin_type" id="sensitive" value="0" />
          <label for="sensitive" @click="showModal = true">My Label</label>
        </div>
        <div class="checkbox">
          <p>Суха</p>
          <input type="radio" v-model="data.skin_type" name="skin_type" id="dry" value="1" />
          <label for="dry" @click="showModal = true">My Label</label>
        </div>
        <div class="checkbox">
          <p>Нормална</p>
          <input type="radio" v-model="data.skin_type" name="skin_type" id="normal" value="2" />
          <label for="normal" @click="showModal = true">My Label</label>
        </div>
        <div class="checkbox">
          <p>Смесена</p>
          <input type="radio" v-model="data.skin_type" name="skin_type" id="mixed" value="3" />
          <label for="mixed" @click="showModal = true">My Label</label>
        </div>
        <div class="checkbox">
          <p>Мазна</p>
          <input type="radio" v-model="data.skin_type" name="skin_type" id="oily" value="4" />
          <label for="oily" @click="showModal = true">My Label</label>
        </div>
      </div>
      <modal v-if="showModal && data.skin_type == '0'" @close="showModal = false">
        <h3 slot="header">Ето как изглежда чувствителната кожа: </h3>
        <ul slot="body">
          <li>
            <span class="two">1</span>чувствителна е на влияния на околната среда</li>
          <li>
            <span>2</span>опъната и сърбяща</li>
          <li>
            <span>3</span> често се зачервява</li>
        </ul>
      </modal>
      <modal v-if="showModal && data.skin_type == '1'" @close="showModal = false">
        <h3 slot="header">Ето как изглежда сухата кожа:  </h3>
        <ul slot="body">
          <li>
            <span>1</span>опъната и сърбяща</li>
          <li>
            <span class="two">2</span>груба и белеща се повърхност</li>
          <li>
            <span class="two">3</span> реагира бързо на външни влияния като температура</li>
        </ul>
      </modal>
      <modal v-if="showModal && data.skin_type == '2'" @close="showModal = false">
        <h3 slot="header">Ето как изглежда нормалната кожа: </h3>
        <ul slot="body">
          <li>
            <span class="two">1</span> мека, с фини пори, безпроблемна</li>
          <li>
            <span>2</span>бледорозов тен</li>
          <li>
            <span class="two">3</span> с добра циркулация и еластичност</li>
        </ul>
      </modal>
      <modal v-if="showModal && data.skin_type == '3'" @close="showModal = false">
        <h3 slot="header">Ето как изглежда смесеният тип кожа: </h3>
        <ul slot="body">
          <li>
            <span>1</span> мазен блясък</li>
          <li>
            <span class="two">2</span>развиват се проблемни участъци в Т-зоната</li>
          <li>
            <span>3</span> зоната на бузите е по-суха</li>
        </ul>
      </modal>
      <modal v-if="showModal && data.skin_type == '4'" @close="showModal = false">
        <h3 slot="header">Ето как изглежда мазният тип кожа: </h3>
        <ul slot="body">
          <li>
            <span>1</span> с големи пори</li>
          <li>
            <span>2</span> блестяща</li>
          <li>
            <span>3</span> развива пъпки</li>
        </ul>
      </modal>
    </div>
    <div class="question">
      <div class="label">
        ТЕНЪТ МИ Е
        <br/>НЕРАВНОМЕРЕН
      </div>
      <div class="answers ">
        <skin-slired type="tone" :range="['Не', 'Малко','Много']" :data="data.skin_tan" width="650" @update="val => data.skin_tan = val"></skin-slired>
      </div>
    </div>
    <div class="question two ">
      <div class="label">
        ВИДИМОСТ
        <br/>НА ПОРИТЕ
      </div>
      <div class="answers ">
        <skin-slired type="pore" :range="['Незабележими','Видими']" :data="data.pores_visibility" width="280" @update="val => data.pores_visibility = val"></skin-slired>
        <div class="question">
          <div class="label">
            ИМАМ 
            <br/>ЧЕРНИ ТОЧКИ
          </div>
          <div class="answers ">
            <div class="checkbox">
              <input type="checkbox" v-model="data.black_spots" name="black_spots" id="black_spots" />
              <label for="black_spots">My Label</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="question">
      <div class="label">
        НАЛИЧИЕ
        <br/> НА БРЪЧКИ
      </div>
      <div class="answers ">
        <skin-slired type="wrinkles" :range="['Няма', 'Фини, Мимически','Видими', 'Дълбоки']" :data="data.wrinkles" width="650" @update="val => data.wrinkles = val"></skin-slired>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      userInfo: Object
    },
    data() {
      return {
        showModal: false,
        data: this.userInfo
      };
    },
    watch: {
      "data": {
        handler: function (val, oldVal) {
          this.$emit('update', val);
        },
        deep: true
      }
    },
    computed: {},
    mounted() {},
    methods: {}
  };
</script>