<template>
  <div class="modal-mask" @click="$emit('close')">
    <div class="modal-wrapper">
      <div class="modal-container">
        <div class="modal-header">
          <span class="modal-close-button" @click="$emit('close')">X</span>
          <slot name="header">
            default header
          </slot>
        </div>

        <div class="modal-body">
          <slot name="body">
            default body
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    computed: {},
    mounted() {},
    methods: {
      onComplete: function () {
        alert("Yay. Done!");
      },
      beforeTabSwitch: function () {
        return true;
      }
    }
  };
</script>