<template>
    <div class="screen-cnt products-cnt">
        <div class="title">
            Препоръчани продукти
        </div>
        <div class="products">
            <div class="product">
                <img :src="productImageUrl(recomended[0].id)">
            </div>
            <div class="product">
                <img :src="productImageUrl(recomended[1].id)">
                <img :src="productImageUrl(recomended[1].subitem)" v-if="recomended[1].subitem">

            </div>
            <div class="product">
                <img :src="productImageUrl(recomended[2].id)">
            </div>
        </div>
        <div class="products titles">
            <div class="product">
                <p>{{recomended[0].title || ''}}</p>
            </div>
            <div class="product">
                <p>{{recomended[1].title || ''}}</p>
            </div>
            <div class="product">
                <p>{{recomended[2].title || ''}}</p>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: [
            'recomended', 'manifest'

        ],
        data() {
            return {
                imagesMappings: this.manifest
            };
        },
        computed: {},

        mounted() {
        },
        methods: {
            productImageUrl(productId) {
                let url = '/img/products/' + productId + '.png';
                return this.imagesMappings.hasOwnProperty(url) ? this.imagesMappings[url] : url;
            },
        }
    };
</script>