<template>
  <div class="screen-cnt">
    <div class="question">
      <div class="label">
        ЕЛАСТИЧНОСТ
        <br/>НА КОЖАТА
      </div>
      <div class="answers ">
        <skin-slired type="tightness" :range="['Плътна и еластична', 'Намалена','Видимо отпусната',]" :data="data.skin_tightness"
          width="650" @update="val => data.skin_tightness = val"></skin-slired>
      </div>
    </div>
    <div class="question">
      <div class="label">
        ПЕТНА
      </div>
      <div class="answers ">
        <skin-slired type="stains" :range="['Не', 'На места','Да',]" :data="data.stains" width="650" @update="val => data.stains = val"></skin-slired>
      </div>
    </div>
    <div class="question">
      <div class="label">
        СТРАДАМ ОТ АКНЕ*
      </div>
      <div class="answers w4">
        <div class="checkbox">
          <p>Не</p>
          <input type="radio" v-model="data.akne" name="akne" id="no" value="0" />
          <label for="no">My Label</label>
        </div>
        <div class="checkbox">
          <p>Да</p>
          <input type="radio" v-model="data.akne" name="akne" id="yes" value="1" />
          <label for="yes">My Label</label>
        </div>
      </div>
    </div>
    <div class="question">
      <div class="label">
        ИЗПОЛЗВАМ ГРИМ*
      </div>
      <div class="answers w4">
        <div class="checkbox">
          <p>Не използвам</p>
          <input type="radio" v-model="data.makeup" name="makeup" id="nop" value="0" />
          <label for="nop">My Label</label>
        </div>
        <div class="checkbox">
          <p>Само&nbsp;околоочен</p>
          <input type="radio" v-model="data.makeup" name="makeup" id="eyes" value="1" />
          <label for="eyes">My Label</label>
        </div>
        <div class="checkbox">
          <p>Лек грим</p>
          <input type="radio" v-model="data.makeup" name="makeup" id="light" value="2" />
          <label for="light">My Label</label>
        </div>
        <div class="checkbox">
          <p>Дълготраен</p>
          <input type="radio" v-model="data.makeup" name="makeup" id="heavy" value="3" />
          <label for="heavy">My Label</label>
        </div>
      </div>
    </div>
    <div class="question">
      <div class="label">
        ПОЧИСТВАМ
        <br/>ГРИМА СИ*
      </div>
      <div class="answers w4">
        <div class="checkbox">
          <p>С памучни
            <br/>тампони</p>
          <input type="checkbox" v-model="data.cleanup"  id="tampons" value="0" />
          <label for="tampons">My Label</label>
        </div>
        <div class="checkbox">
          <p>С измиващи
            <br/>продукти</p>
          <input type="checkbox" v-model="data.cleanup"  id="washing" value="1" />
          <label for="washing">My Label</label>
        </div>
        <div class="checkbox">
          <p>С почистващи
            <br/>кърпички</p>
          <input type="checkbox" v-model="data.cleanup" id="napkin" value="2" />
          <label for="napkin">My Label</label>
        </div>
        <div class="checkbox">
          <p>Не&nbsp;си&nbsp;почиствам
            <br/>грима&nbsp;ежедневно</p>
          <input type="checkbox" v-model="data.cleanup"  id="noclean" value="3" />
          <label for="noclean">My Label</label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      userInfo: Object
    },
    data() {
      return {
        data: this.userInfo
      };
    },
    computed: {},
    watch: {
      data: {
        handler: function (val, oldVal) {
          this.$emit("update", val);
        },
        deep: true
      }
    },
    mounted() {},
    methods: {}
  };
</script>