<template>
  <div class="skin-slider">
    <div class="skin-preview" :style="{ 'background-image': image }"></div>
    <div class="slider-cnt">
      <span :style="{ 'left': tooltipPosition + 'px' }">{{tooltip}}</span>
      <input type="range" name="type" min="0" :max="max" step="1" defaultValue="1" v-model="value" :style="{ 'width': size + 'px' }"
      />
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      range: Array,
      width: String,
      type: String,
      data: String
    },
    data() {
      return {
        value: this.data,
      };
    },
    computed: {
      image() {
        return 'url(../img/skins/' + this.type + '_' + this.value + '.png)';
      },
      max() {
        return this.range.length - 1;
      },
      size() {
        return this.width || '200'
      },
      tooltip() {
        return this.range[this.value];
      },
      tooltipPosition() {
        if (this.value == 0) return this.value * (this.size / this.max) + 40;
        if (this.value == this.max) return this.value * (this.size / this.max) - 40;

        return this.value * (this.size / this.max);
      }
    },
    watch: {
      "value": {
        handler: function (val, oldVal) {
          this.$emit('update', val);
        },
        deep: true
      }
    },
    mounted() {

    },
    methods: {}
  };
</script>