<template>
  <div class="screen-cnt user-details-cnt" :class="(movetop)?'top':''">
    <div class="title">
      Персонална информация
    </div>
    <div class="user-details">
      <div class="text-input">
        <label>Име Фамилия</label>
        <input type="text" v-model="data.name" tabindex="1" @keyup.enter="$refs.mail.focus" />
      </div>
      <div class="text-input">
        <label>Е-mail</label>
        <input type="email" ref="mail" v-model="data.email" tabindex="2" @keyup.enter="$refs.mail.blur" @focus="movetop = true" @blur="movetop = false"
        />
      </div>
      <div class="legal">
        <div class="checkbox" style="padding-top: 10px">
          <input type="checkbox" v-model="data.purpose" name="purpose" id="purpose" tabindex="3" />
          <label for="purpose">My Label</label>
        </div>
        <div class="legal-text">
          <span>Съгласен съм личните ми данни да бъдат обработвани от Организатора с цел получаване на резултатите от Приложението.</span>
        </div>
      </div>
      <div class="legal">
        <div class="checkbox">
          <input type="checkbox" v-model="data.subscribtion" name="subscribtion" id="subscribtion" />
          <label for="subscribtion">My Label</label>
        </div>
        <div class="legal-text">
          Искам да получавам новини от NIVEA
        </div>
      </div>
    </div>
   
  </div>

</template>

<script>
export default {
  props: {
    userInfo: Object
  },
  data() {
    return {
      data: this.userInfo,
      showModalPorpose: false,
      showModalTFU: false,
      movetop: false
    };
  },
  computed: {},
  watch: {
    data: {
      handler: function(val, oldVal) {
        this.$emit("update", val);
      },
      deep: true
    }
  },
  mounted() {},
  methods: {
    emailClick() {
      return null;
    }
  }
};
</script>