body {
    background: url(../img/background.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 1200px;
    font-family: 'NiveaBook', Arial, Helvetica, sans-serif;
}

.container {
    width: 1920px;
    min-height: 1200px;
    padding: 0;
}

#ebeauty {
    position: relative;
    min-height: 1200px;
    overflow: hidden;
    .wizard-header,
    .wizard-nav,
    .wizard-progress-with-circle {
        display: none;
    }
    .wizard-tab-content {
        padding: 0;
    }
    .wizard-card-footer {
        position: absolute;
        bottom: 110px;
        left: auto;
        right: auto;
        width: 100%;
        text-align: center;
        .wizard-footer-left,
        .wizard-footer-right {
            display: inline-block;
            float: none;
            padding: 0 40px;
            button {
                background: url(../img/button.png) center center no-repeat transparent !important;
                border: 0 !important;
                width: 221px;
                height: 105px;
                font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
                font-size: 25px;
                line-height: 28px;
                text-align: left;
                padding-left: 30px;
                color: #fff;
                &.finish-button {
                    position: fixed;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 1200px;
                    text-indent: -9999px;
                    background: url(../img/end-bg.jpg) center center no-repeat transparent !important;
                    background-size: contain !important;
                }
                &.start-button {
                    position: fixed;
                    top: 100px;
                    left: 0;
                    right: 0;
                    width: 490px;
                    height: 680px;
                    text-indent: -9999px;
                    background: url(../img/clock.png) center 30px no-repeat transparent !important;
                    animation-duration: 1.7s !important;
                    background-size: contain !important;
                    margin: auto;
                    opacity: 1 !important;
                }
                &.send-button {
                    background: url(../img/sent-button.png) center center no-repeat transparent !important;
                    top: -130px;
                    left: 0;
                    position: absolute;
                    opacity: 1 !important;
                    height: 101px;
                    width: 214px;
                    right: 0;
                    margin: 0 auto;
                }
            }
        }
        .wizard-footer-left {
            button {
                background: url(../img/back-button.png) center center no-repeat transparent !important;
                border: 0 !important;
                width: 223px;
                height: 105px;
                text-align: right;
                padding-right: 30px;
                color: #fff;
            }
        }
        .info-msg {
            position: absolute;
            color: #fff;
            font-family: 'NiveaLight';
            font-size: 16px;
            left: 1253px;
            top: 44px;
        }
    }
    .checkbox {
        display: block;
        float: left;
        margin: 0 0 0 40px;
        p {
            text-align: center;
            color: #fff;
            font-size: 30px;
            line-height: 32px;
        }
        input {
            display: none;
            &:checked~label:after {
                background: url(../img/check.png) center center no-repeat #24418b;
                background-size: 75%;
            }
        }
        label {
            width: 70px;
            height: 70px;
            text-indent: -9999px;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                left: calc(50% - 25px);
                top: 10px;
                width: 50px;
                height: 50px;
                border: 2px solid #fff;
                border-radius: 50%;
                margin: 0 auto;
                display: block;
                background-color: #24418b;
            }
        }
    }
    .screen-1 {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 1200px;
        text-indent: -9999px;
        background: url(../img/start-bg.jpg) center center no-repeat transparent !important;
        background-size: contain !important;
        .legal {
            position: absolute;
            bottom: 140px;
            width: 1050px;
            left: 0;
            right: 0;
            margin: 0 auto;
            color: #fff;
            text-indent: 0;
            font-size: 25px;
            .legal-text {
                padding-left: 110px;
                padding-top: 20px;

                span {
                    opacity: 0.9;
                    text-decoration: underline;
                }
            }
        }
        .checkbox {
            margin-top: 16px;
        }
    }
    .screen-cnt {
        padding: 80px 200px;
        &.top {
            margin-top: -100px;
        }
        .question {
            display: table;
            width: 100%;
            margin-bottom: 50px;
            .label {
                width: 30%;
                font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
                font-size: 32px;
                text-transform: uppercase;
                letter-spacing: 2px;
                display: table-cell;
                vertical-align: middle;
                text-align: left;
                line-height: 1.2;
            }
            .answers {
                width: 70%;
                display: table-cell;
                vertical-align: middle;
                &.w6 {
                    .checkbox {
                        label {
                            left: calc(50% - 35px);
                        }
                        margin-left: 90px;
                        &:first-of-type {
                            margin-left: 86px;
                        }
                    }
                }
                &.w5 {
                    .checkbox {
                        label {
                            left: calc(50% - 35px);
                        }
                        margin-left: 56px;
                        width: 154px;
                        &:first-of-type {
                            text-indent: -35px;
                        }
                    }
                }
                &.w4 {
                    .checkbox {
                        label {
                            left: calc(50% - 35px);
                        }
                        width: 23%;
                        margin: 0 2% 0 0;
                    }
                }
            }
            &.two {
                .skin-slider {
                    width: 650px;
                    float: left;
                }
                .question {
                    float: left;
                    width: 200px;
                    padding-top: 30px;
                    margin: 0;
                }
            }
        }
    }
}
@media screen and (max-device-height:600px) {
    #ebeauty {
        position: relative;
        min-height: 1200px;
        overflow: hidden;
        .wizard-header,
        .wizard-nav,
        .wizard-progress-with-circle {
            display: none;
        }
        .wizard-tab-content {
            padding: 0;
        }
        .wizard-card-footer {
            position: absolute;
            bottom: 80px;
            left: auto;
            right: auto;
            width: 100%;
            text-align: center;
            .wizard-footer-left,
            .wizard-footer-right {
                display: inline-block;
                float: none;
                padding: 0 40px;
                button {
                    background: url(../img/button.png) center center no-repeat transparent !important;
                    border: 0 !important;
                    width: 221px;
                    height: 105px;
                    font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
                    font-size: 25px;
                    line-height: 28px;
                    text-align: left;
                    padding-left: 30px;
                    color: #fff;
                    &.finish-button {
                        position: fixed;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 1200px;
                        text-indent: -9999px;
                        background: url(../img/end-bg.jpg) center center no-repeat transparent !important;
                        background-size: contain !important;
                    }
                    &.start-button {
                        position: fixed;
                        top: 100px;
                        left: 0;
                        right: 0;
                        width: 570px;
                        height: 760px;
                        text-indent: -9999px;
                        background: url(../img/clock.png) center 30px no-repeat transparent !important;
                        animation-duration: 1.7s !important;
                        background-size: contain !important;
                        margin: auto;
                        opacity: 1 !important;
                    }
                    &.send-button {
                        background: url(../img/sent-button.png) center center no-repeat transparent !important;
                        top: -130px;
                        left: 0;
                        position: absolute;
                        opacity: 1 !important;
                        height: 101px;
                        width: 214px;
                        right: 0;
                        margin: 0 auto;
                    }
                }
            }
            .wizard-footer-left {
                button {
                    background: url(../img/back-button.png) center center no-repeat transparent !important;
                    border: 0 !important;
                    width: 223px;
                    height: 105px;
                    text-align: right;
                    padding-right: 30px;
                    color: #fff;
                }
            }
            .info-msg {
                position: absolute;
                color: #fff;
                font-family: 'NiveaLight';
                font-size: 16px;
                left: 1253px;
                top: 44px;
            }
        }
        .checkbox {
            display: block;
            float: left;
            margin: 0 0 0 40px;
            p {
                text-align: center;
                color: #fff;
                font-size: 26px;
                line-height: 26px;
            }
            input {
                display: none;
                &:checked~label:after {
                    background: url(../img/check.png) center center no-repeat #24418b;
                    background-size: 75%;
                }
            }
            label {
                width: 70px;
                height: 70px;
                text-indent: -9999px;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    left: calc(50% - 25px);
                    top: 10px;
                    width: 50px;
                    height: 50px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    margin: 0 auto;
                    display: block;
                    background-color: #24418b;
                }
            }
        }
        .screen-1 {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 1200px;
            text-indent: -9999px;
            background: url(../img/start-bg-small.jpg) center center no-repeat transparent !important;
            background-size: contain !important;
            .legal {
                position: absolute;
                bottom: 140px;
                width: 1050px;
                left: 0;
                right: 0;
                margin: 0 auto;
                color: #fff;
                text-indent: 0;
                font-size: 25px;
                .legal-text {
                    padding-left: 110px;
                    span {
                        opacity: 0.9;
                        text-decoration: underline;
                    }
                }
            }
            .checkbox {
                margin-top: 16px;
            }
        }
        .screen-cnt {
            padding: 80px 80px;
            &.top {
                margin-top: -100px;
            }
            .question {
                display: table;
                width: 100%;
                margin-bottom: 50px;
                .label {
                    width: 30%;
                    font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
                    font-size: 32px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    display: table-cell;
                    vertical-align: middle;
                    text-align: left;
                    line-height: 1.2;
                }
                .answers {
                    width: 70%;
                    display: table-cell;
                    vertical-align: middle;
                    &.w6 {
                        .checkbox {
                            label {
                                left: calc(50% - 35px);
                            }
                            margin-left: 80px;
                            &:first-of-type {
                                margin-left: 86px;
                            }
                        }
                    }
                    &.w5 {
                        .checkbox {
                            label {
                                left: calc(50% - 35px);
                            }
                            margin-left: 56px;
                            width: 154px;
                            &:first-of-type {
                                text-indent: -35px;
                            }
                        }
                    }
                    &.w4 {
                        .checkbox {
                            label {
                                left: calc(50% - 35px);
                            }
                            width: 23%;
                            margin: 0 2% 0 0;
                        }
                    }
                }
                &.two {
                    .skin-slider {
                        width: 650px;
                        float: left;
                    }
                    .question {
                        float: left;
                        width: 200px;
                        padding-top: 30px;
                        margin: 0;
                    }
                }
            }
        }
    }
}