@font-face {
    font-family: 'NiveaBold';
    src: url('../fonts/NiveaBold.eot?#iefix') format('embedded-opentype'), url('../fonts/NiveaBold.woff') format('woff'), url('../fonts/NiveaBold.ttf') format('truetype'), url('../fonts/NiveaBold.svg#NiveaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NiveaBook';
    src: url('../fonts/NiveaBook.eot?#iefix') format('embedded-opentype'), url('../fonts/NiveaBook.woff') format('woff'), url('../fonts/NiveaBook.ttf') format('truetype'), url('../fonts/NiveaBook.svg#NiveaBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NiveaLight';
    src: url('../fonts/NiveaLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/NiveaLight.woff') format('woff'), url('../fonts/NiveaLight.ttf')  format('truetype'), url('../fonts/NiveaLight.svg#NiveaLight') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  