.products-cnt{
    .title{
        font-size: 72px;
        color:#fff;
        font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
        text-align: center;
        text-transform: uppercase;
        margin-bottom:35px;
    }
    .products{
        display: table;
        width:100%;
        .product{
            display: table-cell;
            width: 33.33%;
            vertical-align: bottom;
            height: 635px; 
            img{
                display: block;
                margin:0 auto 30px;
            }
            p{
                color:#fff;
                font-family: 'NiveaLight', Arial, Helvetica, sans-serif;
                font-size: 28px;
                padding: 10px;
                text-align: center; 
            }

        }
        &.titles{
            .product{
                vertical-align: top;
                height:auto;
            }
        }
    }
}