.skin-slider{
    position:relative;
    .skin-preview {
        width: 140px;
        height: 140px;
        border: 2px solid #fff;
        border-radius: 50%;
        display: inline-block;
        margin: 0 115px 0 60px;
    }
    .slider-cnt{
        display:inline-block;
        position:absolute;
        top:21%;
        span{
            position: absolute;
            top: -40px;
            font-size: 26px;
            color: #fff;
            text-indent: 0;
            z-index:1;
            display: block;
            transform:translate(-50%, 0);
            white-space:nowrap;
        }
    }
}

//all sliders
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 22px 0;
    background: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 48px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #042a71 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%, #042a71 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%, #042a71 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#042a71', GradientType=1);
    /* IE6-9 */
    border-radius: 25px;
    border: 2px solid #00136f;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
    border: 2px solid #ffffff;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background: #00136f;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #042a71 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%, #042a71 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%, #042a71 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#042a71', GradientType=1);
    /* IE6-9 */
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 48px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #042a71 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%, #042a71 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%, #042a71 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#042a71', GradientType=1);
    /* IE6-9 */
    border-radius: 25px;
    border: 2px solid #00136f;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
    border: 2px solid #ffffff;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background: #00136f;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 48px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #042a71 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%, #042a71 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%, #042a71 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#042a71', GradientType=1);
    /* IE6-9 */
    border: 2px solid #00136f;
    border-radius: 50px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #042a71 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%, #042a71 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%, #042a71 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#042a71', GradientType=1);
    /* IE6-9 */
    border: 2px solid #00136f;
    border-radius: 50px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
    border: 2px solid #ffffff;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background: #00136f;
    cursor: pointer;
    height: 48px;
}

input[type=range]:focus::-ms-fill-lower {
    
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #042a71 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%, #042a71 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%, #042a71 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#042a71', GradientType=1);
    /* IE6-9 */
}

input[type=range]:focus::-ms-fill-upper {
    
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #042a71 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%, #042a71 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%, #042a71 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#042a71', GradientType=1);
    /* IE6-9 */
}