.user-details-cnt {
    .title {
        font-size: 72px;
        color: #fff;
        font-family: 'NiveaBold', Arial, Helvetica, sans-serif;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    .user-details {
        .text-input {
            text-align: center;
            margin-bottom: 40px;
            label {
                display: block;
                font-family: 'NiveaLight', Arial, Helvetica, sans-serif;
                font-size: 40px;
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                padding-bottom: 20px;
            }
            input {
                border: 2px solid #fff;
                border-radius: 30px;
                padding: 10px 30px;
                font-size: 30px;
                line-height: 30px;
                background-color: #00136f;
                color: #fff;
                min-width: 700px;
                &:focus {
                    outline: none;
                }
            }
        }
        .legal {
            font-family: 'NiveaLight', Arial, Helvetica, sans-serif;
            font-size: 28px;
            line-height:36px;
            max-width: 960px;
            margin: 0 auto;
            color: #fff;
            margin-bottom:30px;
            .checkbox {
                margin-top:-18px !important;
                margin-left: 0 !important;
                label{
                   
                    &:after {
                        background-color: #00136f !important;
                    }
                }
            }
            .legal-text {
                padding-left: 80px;
                
            }
        }
    }
   
}