// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//beauty
@import "fonts";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.login-container {
  margin-top: 40px;
  .panel-heading {
    text-align: center;
  }
}

.container {
  margin-top: 40px;
  .recommended-products {
    img {
      width:20%;
    }
  }
}
